<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paymium_secret %>
    <%= f.text_field :paymium_secret %>
  </div>

  <div class="field">
    <%= f.label :paymium_token %>
    <%= f.text_field :paymium_token %>
  </div>

  <div class="field">
    <%= f.label :kraken_secret %>
    <%= f.text_field :kraken_secret %>
  </div>

  <div class="field">
    <%= f.label :kraken_token %>
    <%= f.text_field :kraken_token %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
