%p#notice= notice
%h1 Users
%table
  %thead
    %tr
      %th Paymium secret
      %th Paymium token
      %th Kraken secret
      %th Kraken token
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.paymium_secret
        %td= user.paymium_token
        %td= user.kraken_secret
        %td= user.kraken_token
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
