<h2>Marge</h2>
<table width="50%">
  <thead>
  <tr>
    <th>direction</th>
    <th>presure</th>
    <th>marge</th>
    <th>actual marge</th>
    <th>amount</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>sell</td>
    <td><%= @robot.sell_presure.round(2) %></td>
    <td><%= (@robot.sell_marge * 100).round(2) %></td>
    <td><%= (((@stat.paymium_best_ask - @stat.kraken_best_bid)/@stat.price)*100).round(2) %></td>
    <td><%= @robot.sell_capacity.round(3) %></td>
  </tr>
  <tr>
    <td>buy</td>
    <td><%= @robot.buy_presure.round(2) %></td>
    <td><%= (@robot.buy_marge * 100).round(2) %></td>
    <td><%= (((-@stat.paymium_best_bid + @stat.kraken_best_ask)/@stat.price)*100).round(2) %></td>
    <td><%= @robot.buy_capacity.round(3) %></td>
  </tr>
  </tbody>
</table>


<h2>Balances</h2>
<table>
  <thead>
  <tr>
    <th>exchange</th>
    <th>currency</th>
    <th>btc</th>
    <th>eur</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Paymium</td>
    <td>eur</td>
    <td><%= (@stat.paymium_eur_balance / @stat.price).round(2) %></td>
    <td bgcolor="#CCFFCC"><%= @stat.paymium_eur_balance.round(2) %></td>
  </tr>
  <tr>
    <td>Kraken</td>
    <td>btc</td>
    <td bgcolor="#CCFFCC"><%= @stat.kraken_btc_balance.round(2) %></td>
    <td><%= (@stat.kraken_btc_balance * @stat.price).round(2) %></td>
  </tr>
  <tr>
    <td>Paymium</td>
    <td>btc</td>
    <td bgcolor="#CCFFCC"><%= @stat.paymium_btc_balance.round(2) %></td>
    <td><%= (@stat.paymium_btc_balance * @stat.price).round(2) %></td>
  </tr>
  <tr>
    <td>Kraken</td>
    <td>eur</td>
    <td><%= (@stat.kraken_eur_balance / @stat.price).round(2) %></td>
    <td bgcolor="#CCFFCC"><%= @stat.kraken_eur_balance.round(2) %></td>
  </tr>
  <tr>
    <td>Total</td>
    <td>eur</td>
    <td><%= ((@stat.kraken_eur_balance + @stat.paymium_eur_balance)/ @stat.price).round(2) %></td>
    <td bgcolor="#CCFFCC"><%= (@stat.kraken_eur_balance + @stat.paymium_eur_balance).round(2) %></td>
  </tr>
  <tr>
    <td>Total</td>
    <td>btc</td>
    <td bgcolor="#CCFFCC"><%= (@stat.kraken_btc_balance + @stat.paymium_btc_balance).round(2) %></td>
    <td><%= ((@stat.kraken_btc_balance + @stat.paymium_btc_balance)*@stat.price).round(2) %></td>
  </tr>
  <tr>
    <td>Total</td>
    <td>total</td>
    <td><%= (@stat.total_virtual_btc).round(2) %></td>
    <td><%= (@stat.total_virtual_eur).round(2) %></td>
  </tr>

  <tr>
    <td>Kraken - Paymium</td>
    <td>total</td>
    <td><%= (@stat.total_kraken_virtual_btc - @stat.total_paymium_virtual_btc).round(2) %></td>
    <td><%= (@stat.total_kraken_virtual_eur - @stat.total_paymium_virtual_eur).round(2) %></td>
  </tr>

  <tr>
    <td>Btc - Eur</td>
    <td>total</td>
    <td><%= (@robot.total_btc - @robot.total_eur/@robot.kraken_ask_price).round(2) %></td>
    <td><%= (@robot.total_btc*@robot.kraken_ask_price - @robot.total_eur).round(2) %></td>
  </tr>

  </tbody>
</table>



<h2>Trade volume</h2>
<%= column_chart Trade.group_by_day(:created_at).sum('ABS(btc_amount)')%>

<h2>Wins</h2>
<%= column_chart Trade.group_by_day(:created_at).sum('paymium_cost + kraken_cost - kraken_fee') %>

<h2>Btc Balance</h2>
<%= area_chart Stat.group_by_day(:created_at).average('(kraken_btc_balance + paymium_btc_balance)')%>

<h2>Eur Balance</h2>
<%= area_chart Stat.group_by_day(:created_at).average('(kraken_eur_balance + paymium_eur_balance)')%>


<h2>Latest trades</h2>
<table>
  <thead>
  <tr>
    <th>Created at</th>
    <th>State</th>
    <th>BTC amount</th>
    <th>Kraken price</th>
    <th>Paymium price</th>
    <th>Eur margin</th>
    <th>percent margin</th>
  </tr>
  </thead>

  <tbody>
  <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.created_at %></td>
        <td><%= trade.aasm_state %></td>
        <td><%= trade.btc_amount %></td>
        <td><%= trade.kraken_price %></td>
        <td><%= trade.paymium_price %></td>
        <td><%= trade.eur_margin %></td>
        <td><%= trade.percent_margin %></td>
      </tr>
  <% end %>
  </tbody>
</table>
