<h2>Trade volume</h2>
<%= column_chart Trade.group_by_day(:created_at).sum('ABS(btc_amount)')%>

<h2>Wins</h2>
<%= column_chart Trade.group_by_day(:created_at).sum('paymium_cost + kraken_cost - kraken_fee') %>

<h2>Latest trades</h2>
<table>
  <thead>
  <tr>
    <th>Created at</th>
    <th>State</th>
    <th>BTC amount</th>
    <th>Kraken price</th>
    <th>Paymium price</th>
    <th>Eur margin</th>
    <th>percent margin</th>
  </tr>
  </thead>

  <tbody>
  <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.created_at %></td>
        <td><%= trade.aasm_state %></td>
        <td><%= trade.btc_amount %></td>
        <td><%= trade.kraken_price %></td>
        <td><%= trade.paymium_price %></td>
        <td><%= trade.eur_margin %></td>
        <td><%= trade.percent_margin %></td>
      </tr>
  <% end %>
  </tbody>
</table>
