%h2 Marge
%table.table
  %thead
    %tr
      %th direction
      %th presure
      %th marge
      %th actual marge
      %th amount
  %tbody
    %tr
      %td sell
      %td= @robot.sell_presure.round(2)
      %td= (@robot.sell_marge * 100).round(2)
      %td= @stat.actual_sell_marge.round(2)
      %td= @robot.sell_capacity.round(3)
    %tr
      %td buy
      %td= @robot.buy_presure.round(2)
      %td= (@robot.buy_marge * 100).round(2)
      %td= @stat.actual_buy_marge.round(2)
      %td= @robot.buy_capacity.round(3)
%h2 Balances
%table.table
  %thead
    %tr
      %th exchange
      %th currency
      %th btc
      %th eur
  %tbody
    %tr.info
      %td Paymium
      %td eur
      %td= (@stat.paymium_eur_balance / @stat.price).round(4)
      %td
        %span= @stat.paymium_eur_balance.round(2)
        %span.fa.fa-euro
    %tr.warning
      %td Coinbase
      %td btc
      %td
        %span= @stat.gdax_btc_balance.round(4)
        %span.fa.fa-btc
      %td= (@stat.gdax_btc_balance * @stat.price).round(2)
    %tr.warning
      %td Paymium
      %td btc
      %td
        %span= @stat.paymium_btc_balance.round(4)
        %span.fa.fa-btc
      %td= (@stat.paymium_btc_balance * @stat.price).round(2)
    %tr.info
      %td Coinbase
      %td eur
      %td= (@stat.gdax_eur_balance / @stat.price).round(4)
      %td
        %span= @stat.gdax_eur_balance.round(2)
        %span.fa.fa-euro
    %tr.info
      %td Total
      %td eur
      %td= ((@stat.total_eur)/ @stat.price).round(4)
      %td
        %span= (@stat.total_eur).round(2)
        %span.fa.fa-euro
    %tr.warning
      %td Total
      %td btc

      %td
        %span= (@stat.kraken_btc_balance + @stat.paymium_btc_balance + @stat.gdax_btc_balance).round(4)
        %span.fa.fa-btc
      %td= ((@stat.kraken_btc_balance + @stat.paymium_btc_balance + @stat.gdax_btc_balance)*@stat.price).round(2)
    %tr
      %td Total
      %td total
      %td= (@stat.total_virtual_btc).round(2)
      %td= (@stat.total_virtual_eur).round(2)
    %tr
      %td Coinbase - Paymium
      %td total
      %td= (@stat.total_gdax_virtual_btc - @stat.total_paymium_virtual_btc).round(2)
      %td= (@stat.total_gdax_virtual_eur - @stat.total_paymium_virtual_eur).round(2)
    %tr
      %td Btc - Eur
      %td total
      %td= (@stat.total_btc - @stat.total_eur/@stat.price).round(2)
      %td= (@stat.total_btc*@stat.price - @stat.total_eur).round(2)
    %tr
      %td today
      %td= Trade.where('created_at > ?', Date.today.beginning_of_day).sum('ABS(btc_amount)')
      %td= Trade.where('created_at > ?', Date.today.beginning_of_day).sum('paymium_cost + counter_order_cost - counter_order_fee')
%h2 Trade volume
= column_chart Trade.where('created_at > ?', 1.month.ago.beginning_of_day).group_by_day(:created_at).sum('ABS(btc_amount)')
%h2 Wins
= column_chart Trade.where('created_at > ?', 1.month.ago.beginning_of_day).group_by_day(:created_at).sum('paymium_cost + counter_order_cost - counter_order_fee')

= render partial: 'trades/index', object: @trades
